@mixin fontsize($size) {
	font-size: ($size / 16) * 100%;
	font-size: ($size / 16) + rem;
}


@mixin font($weight) {

  @if $weight == 'thin'{ 
    font-family: 'Roboto';
    font-weight: 200;
  }

  @if $weight == 'light'{ 
    font-family: 'Roboto';
    font-weight: 300;
  }
  @else if $weight == 'reg'  { 
    font-family: 'Roboto';
    font-weight: 400;
  }
  @else if $weight == 'med' { 
    font-family: 'Roboto';
    font-weight: 500;
  }
}

@mixin lineheight($fontsize,$lineheight) { line-height:$lineheight / ($fontsize / 100%) }

@mixin no-highlight() {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

@mixin no-select() { 
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */    
}

@mixin mobile  	 { @media (min-width: 480px)  { @content } }
@mixin mobileLrg { @media (min-width: 600px)  { @content } }
@mixin tablet 	 { @media (min-width: 768px)  { @content } }
@mixin tabletLrg { @media (min-width: 992px)  { @content } }
@mixin desktop	 { @media (min-width: 1200px) { @content } }